/* //ContactUs.css */

.contact-us-dialog {
    padding: 20px;
    max-width: 400px;
    background-color: #223c75;
    text-align: center;
    font-family: Arial, sans-serif;
    border: 1px solid #007bff; 
        border-radius: 10px;
          backdrop-filter: blur(200px);
          background-image: linear-gradient(325deg, rgba(198, 239, 171, 0.8) 0%, rgba(146, 213, 221, 0.8) 74%);
  }
  
  .contact-us-dialog h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .contact-us-dialog p {
    font-size: 16px;
    color: #0e0e0e;
    margin-bottom: 20px;
  }
  
  .contact-us-dialog a {
    color: #0B2F9F;
    text-decoration: none;
    font-weight: bold;
  }
  
  .contact-us-dialog a:hover {
    text-decoration: underline;
  }

    @media (max-width: 768px) {
      .contact-us-dialog {
        border-radius: 30px 2px 30px 2px;
        background-image: linear-gradient(325deg, rgba(162, 222, 123, 0.8) 0%, rgba(55, 180, 197, 0.8) 74%);
        transition: all 0.5s ease-in-out;
      }
    }
  