.header {
    background-color: #282c34;
    padding: 1rem;
}

.search-results {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.search-result-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.search-result-item:hover {
  background-color: #f0f0f0;
}


.navbar {
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;

    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    /* gap: 2rem;
    margin: 0;
    padding: 0; */
    align-items: center;
    gap: 4rem;
    padding: 10px;
    margin: 10px;
}

.nav-item {
    /* margin: 0; */
    position: relative;
}

.nav-link {
    color: #80d8f1;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 10px;
  transition: color 0.3s ease;
}

.nav-link:hover {
    text-decoration: underline;
    color: #a5adaf;
}

.active-link {
    color: white;
}


.search-item {
    flex-grow: 1;
  }
  
  .search-input {
    width: 100%;
    max-width: 300px;
    padding: 5px 10px;
    border: 5px;
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
    background-color: #d2cccc;
    color: rgb(35, 34, 34);
  }
  
  .search-input::placeholder {
    color: #292626;

  }
  
  /* Responsive adjustments */
  /* @media (max-width: 768px) {
    .nav-list {
      flex-direction: column;
      gap: 15px;
    }
  
    .search-item {
      width: 100%;
      max-width: 100%;
      margin: 10px 0;
    }
  } */

  /* Responsive adjustments */
@media (max-width: 768px) {
  .navbar {
      flex-direction: row;
  }

  .nav-list {
      flex-direction: row;
      gap: 15px;
  }

  .search-item {
      width: 100%;
      max-width: 100%;
      margin: 10px 0;
  }

  .nav-link {
      font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .nav-list {
      gap: 10px;
  }

  .nav-link {
      font-size: 0.9rem;
      padding: 5px;
  }

  .search-input {
      max-width: 100%;
      font-size: 0.9rem;
      padding: 5px;
  }

  .header {
      padding: 0.5rem;
  }
}

@media (max-width: 360px) {
  .nav-list {
      gap: 8px;
  }

  .nav-link {
      font-size: 0.8rem;
      padding: 4px;
  }

  .search-input {
      display : none;
  }

  .header {
      padding: 0.5rem;
  }
}