.payment-page {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.payment-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.payment-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pay-button {
    padding: 10px;
    font-size: 18px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pay-button:hover {
    background-color: #218838;
}

.processing-message,
.success-message,
.failed-message {
    font-size: 16px;
    color: #333;
    text-align: center;
}

.error-message {
    color: #dc3545;
    font-size: 14px;
    text-align: center;
}

.refresh-button {
    padding: 8px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.refresh-button:hover {
    background-color: #0056b3;
}

.get-etickets-button {
    padding: 10px;
    font-size: 18px;
    background-color: #007bff; /* Blue color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.get-etickets-button:hover {
    background-color: #0056b3;
}