.search-bar {
  display: flex;
  flex-direction: column; /* Stack form and results vertically */
  align-items: center;
  margin: 20px 0;
  width: 100%; /* Allow for proper centering */
}

.search-form {
  display: flex;
  align-items: center;
  width: 100%; /* Ensure search form takes up full width */
  justify-content: center; /* Center the form horizontally */
}

.search-input {
  padding: 10px;
  width: 300px; /* Wider input */
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
  outline: none;
}

.search-input:focus {
  border-color: #007bff;
}

.search-button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  font-size: 16px;
  outline: none;
}

.search-button:hover {
  background-color: #0056b3;
}

/* Results container */
.results-container {
  width: 100%; /* Full width under the search form */
  max-width: 600px; /* Limit width of the results */
  margin-top: 20px;

}

.search-results {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%; /* Full width for the results */
  max-height: 600%;
}

.search-result-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.search-result-item img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.search-result-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
