.seat-selecting-page {
    text-align: center;
    font-family: Arial, sans-serif;
}

.seat-selection-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 20px;
}

.seats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Message {
    margin-bottom: 20px;
}

.seat-row {
    display: grid;
    grid-template-columns: repeat(4, 40px) 80px repeat(5, 40px);
    grid-gap: 10px;
    margin-bottom: 10px;
}

.seat {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.seat.selected {
    background-color: #6c5ce7;
    color: #fff;
}

.seat.reserved {
    background-color: #d63031;
    color: #fff;
    cursor: not-allowed;
}

.selected-seats-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin-top: 100px; /* my one*/
    margin-left: 50px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.selected-seats {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    align-self: center;
}

.total-amount {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    align-self: center;
}

.proceed-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
}

.proceed-button:hover {
    background-color: #0056b3;
}

.message-2 {
    align-self:center ;
}